<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <title>Document</title>
</head>


<body class="container">

    <header id="header">

        <nav class="nav-menu">
            <h1>BARRA DE PESQUISA / ENTRAR</h1>
        </nav>


    </header>
    <main>
        <aside id="sidebar">
            <h1>MENU LATERAL</h1>
        </aside>

        <div id="content">
            <h1>CONTEUDO</h1>
        </div>


    </main>

    <footer id="footer" class="footer">

        <h1>RODAPÉ</h1>

    </footer>

</body>

</html>