<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/icons/favority-icon1.png" type="image/x-icon">
    <link rel="stylesheet" href="./global.css">
    <link rel="stylesheet" href="./home.css">

    <title>Encontre-Aqui</title>
</head>


<body class="container-home">

    <header class="header-home-page">
        <nav class="nav-menu">
            <h1>MENU</h1>
        </nav>

    </header>


    <main id="content">

        <h1>CONTEUDO</h1>

    </main>


    <footer id="footer" class="footer">

        <h1>RODAPÉ</h1>

    </footer>


</body>

</html>