
/*-------------card map-----------------------*/
.card-map{
    width: 100px;
    height: 135px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:5px;
    margin-left: 10px;
    transition: all  0.5s ease;
}
.card-map .description, .logradouro, .product{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all  0.2s ease;
}
.card-map .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-map .prod img{
    width: 20px;
}

.card-map:hover{
    width: 240px;
    height: 400px;
    transition: all  0.5s ease;
    transform: translateX(-150px) ;
     
}
.card-map:hover .description, .card-map:hover .logradouro, .card-map:hover .prod{
    display: flex;
    visibility: visible;
    flex-direction: column;
    width: 100%;
    height: 52px;
    opacity: 1;
    transition: all  0.2s ease;
}
.card-map:hover img{
    width: 90%;
    height: 170px;
}
.card-map img{
    margin: 0 auto;
    width: 90%;
    height: 70px;
    border-radius: 6px;
    transition: all  0.5s ease;
    margin-bottom: 5px;
}

.card-map .product-name{
    padding-top:5px;
    font-size: 0.5rem;
}
