*{
    scroll-behavior: smooth;
}


main 
{ width: 95%;
    margin: auto;
    font-family: sans-serif;
    line-height: 2;
   

    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}


.bloco-seis 
{margin: 30px 0; 
       text-align: center;
       width: 100%;
}

table 
{background-color: darkkhaki;
border: 10px;
padding: 10px;
margin: 0% auto;
        }
 
 .img2,  .img3,  .img4, .img5
 { margin: 0%;
    text-align: center;
}

.presentation-bg{
    position:absolute;
    top:50px;
    left:0;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/site/paraEmpresas/imagem01.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.business .bloco-um{
    position: relative;
    width: 45%;
    height: 80vh;
    border-radius: 5px;
    padding:16px;
    background-color: rgba(240, 248, 255, 0.814);
    
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);

}

.business .bloco-dois{
    display: flex;
}

.business .bloco-dois img{
    max-width: 420px;
    max-height: 350px;
    margin: 0 50px;
    border-radius: 5px;
}

.business p{
    color:rgb(47, 47, 47);
    font-size:1rem;
    margin-bottom: 20px;
}

.btn-cadastro{
    width: 50%;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(59, 163, 129);
    position:absolute;
    top:85%;
    left: 25%;
}


.business .bloco-tres{
    display: flex;
}

.business .bloco-tres img{
    max-width: 420px;
    max-height: 350px;
    margin: 0 50px;
    border-radius: 5px;
}

.business .create-account{
    width: 100%;
    margin: 5% 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.business .bloco-quatro{    
    margin:100px auto;
    text-align: center;
}