a{
  text-decoration: none;
  color: blue;
}

#login{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
 }

.name input{
  border-radius: 7px;
  border: 0.5px solid #5f5f5f;
  width: 350px;
  height: 40px;
  padding-left: 15px;
  background-color: #fff;
  color: #b6b6b6;
  margin-bottom: 15px;
}

.email input{
border-radius: 7px;
border: 0.5px solid #5f5f5f;
width: 350px;
height: 40px;
padding-left: 15px;
background-color: #fff;
color: #b6b6b6;
}

.senha input{
border-radius: 7px;
border: 0.5px solid #5f5f5f;
width: 350px;
height: 40px;
padding-left: 15px;
background-color: #fff;
color: #b6b6b6;
margin-top: 15px
}

.entrar input{
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 7px;
  background-color: aquamarine;
  color: #141414;
}

input ::placeholder{
  color:#b6b6b6
}
 
.caixa img{
width: 300px;
margin-top: 70px;
}

input:focus{
 outline:none; 
}