@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,800;1,900&display=swap');

/*----------------------*/ 


:root {
    --font-color: #151414;
    --color-header: #1a1919;
    --color-footer: #1a1919;
  
    --title-color: #1a1919;
    --title-weight: 700;
  
    --subtitle-color: #616161;
    --subtitle-weight: 600;
  
    --btn-primary: #b5cdde;
    --btn-light: rgba(104, 180, 193, 0.2);
    --btn-light-hover: rgba(104, 180, 193, 0.5);
    --color-success: #477e39;
    --color-danger: #b13d3d;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--font-color);
    max-width: 100%;
    min-width: auto;
  }
  
  /*-----------------------------Barra Lateral---------------------------------------------*/
  
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #cccccc;
    border-left: 1px solid var(--cultured);
  }
  
  body::-webkit-scrollbar-thumb {
    background: #cccccc;
    border: 3px solid #cccccc;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
  }
  
  
  
  /*---------------------------------------------------------------------------*/
  
  .sm {
    font-size: 0.8rem;
  }
  
  .mm {
    font-size: 0.9rem;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  
  .mb-50 {
    margin-bottom: 50px;
  }
  
  .ml-5 {
    margin-left: 5px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mt-50 {
    margin-top: 50px;
  }
  
  
  .bd-0 {
    border: 0;
  }
  
  .bd-03 {
    border: 0.3px solid var(--font-color);
  }
  
  
  /*border-radius*/
  .brad-5 {
    border-radius: 5px;
  }
  
  .brad-10 {
    border-radius: 10px;
  }
  
  .brad-20 {
    border-radius: 20px;
  }
  
  .brad-25 {
    border-radius: 25px;
  }
  
  /*---------------------------------------------------------------------------*/
  
  header {
  
    width: 100%;
    height: 75px;
    background-color: var(--color-header);
  
  }
  
  footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: var(--color-footer);
    margin-top: 30px;
  }
  
  a {
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.1mm;
  }
  
  ul li {
    list-style: none;
    font-size: 0.8rem;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--title-weight);
    border: 0;
    color: var(--title-color);
  }
  
  .nav-link {
    width: 100px;
    height: 30px;
    color: var(--btn-primary);
    background-color: var(--btn-light);
  }
  
  .nav-link:hover {
    background-color: var(--btn-light-hover);
    transition: ease 0.2;
  }
  
  
  .btn-primary {
    width: 100px;
    height: 30px;
    background-color: var(--btn-primary);
  }
  
  .situation {
    font-size: 0.8rem;
    font-weight: var(--subtitle-weight);
  }
  
  .opened {
    color: var(--color-success);
  }
  
  /*--------------------------------NAV-------------------------------*/
  
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
  }
  
  .nav-menu .nav-link{
    font-size: 11px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 4px;
  }
  
  .nav-menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
    margin: 10px;
  }
  
  .nav-menu .logo img {
    width: 200px;
  }
  
  
  .nav-menu .search {
    position: relative;
    display: flex;
    width: 600px;
    margin-top: 10px;
    
  }
  
  .nav-menu .search input {
    width: 600px;
    height: 36px;
    padding-left: 15px;
  }
  
  
  .btn-account{
    font-size: 30px;
  }
  
  .nav-menu .account {
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-menu a {
    margin-top: 10px;
    margin-right: 5px;
  }
  
  /*
  @media (max-width: 1440px) {
    .hero .conteudo{
      flex-direction: column;
    }
    .hero .conteudo .image{
      width: 200px;
    }
  }
  
  @media (max-width: 946px) {
    .mb-10 .nav-menu .account{
      display: none;
    }
    .one,
    .two,
    .three{
      background-color: #FFF;
      height: 5px;
      width: 100%;
      margin: 6px auto;
  
      transition-duration: 0,3s;
    }
    .menu-toggle{
      width: 40px;
      height: 30px;
      margin-left: 10px;
    }
  
    full screem
    .nav-menu.on{
      position: absolute;
      top: 0;
      left: 0;
  
      width: 100vw;
      height: 100vh;
  
      background-color: red;
  
      z-index: 10;
    }
    .nav-menu.on .account{
      display: block;
    }
  
    .nav-menu.on .account{
      display: block;
      margin-bottom: 100%;
      flex-direction: column;
    }
  
    .nav-menu.on .menu-toggle{
      position: absolute;
      margin-left: auto;
      right: 20px;
      left: 15px;
      top: 15px;
    }
    .nav-menu.on .menu-toggle .one{
      transform: rotate(45deg) translate(7px, 7px);
    }
    .nav-menu.on .menu-toggle .two{
      opacity: 0;
    }
    .nav-menu.on .menu-toggle .three{
      transform: rotate(-45deg) translate(8px, -9px);
    }
    .nav-menu.on .logo{
      display: none;
    }
    .nav-menu.on .search{
      display: none;
    }
  }
  
  */

/*-----------------------------------Grid Principal----------------------------------------*/

.container {
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background: #fcfcfc;
}
.box {
width: 300px;
height: 300px;
background: white;
margin-bottom: 400px;
}
.container .rpass{
  font-size: 7;
  margin-bottom: 25px;
}
.container .textrpass{
  margin-bottom: 25px;
}

.container .btn .btn-primary{
  margin-left: 25px;
}
