@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,800;1,900&display=swap');

:root{
  --font-color:#151414;
  --color-header:#1a1919;
  --color-footer: #1a1919;

  --title-color: #1a1919;
  --title-weight:700;

  --subtitle-color: #616161;
  --subtitle-weight:600;

  --btn-default: #ebf0f0;
  --btn-default-hover:#d1dadf;
  --btn-primary: #b5cdde;
  --btn-primary-hover:#90adc2;

  --color-success:#477e39;
  --color-danger:#b13d3d;

  --btn-transition: 0.3s; 
}

*{
  padding:0;
  margin:0;
  font-family: 'Poppins', Helvetica, sans-serif;
  box-sizing: border-box;
  color:var(--font-color);
}


/*---------------------------------------------------------------------------*/

.sm{
  font-size: 0.8rem;
}

.mm{
  font-size:0.9rem;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}


.mb-30{
  margin-bottom: 30px;
}


.mb-50{
  margin-bottom: 50px;
}

.ml-5{
  margin-left: 5px;
}

.ml-20{
  margin-left: 20px;
}

.ml-10{
  margin-left: 10px;
}


.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20{
  margin-top: 20px;
}

.mt-50{
  margin-top: 50px;
}

.bd-0{
  border:0;
}

.bd-03{
  border:0.3px solid var(--font-color);
}

/*border-radius*/
.brad-5{
  border-radius: 5px;
}

.brad-10{
  border-radius: 10px;
}

.brad-20{
  border-radius: 20px;
}
/*-----------------------------Barra Lateral---------------------------------------------*/


body::-webkit-scrollbar { width: 10px; }

body::-webkit-scrollbar-track {
  background: #cccccc;
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: #cccccc;
  border: 3px solid #cccccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }



/*---------------------------------------------------------------------------*/
.container{
 
  width: 100%;
  height: 70vh;
}

header{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 10vh;
  background-color: var(--color-header) ;
 
}

footer{
  width: 100%;
  height: 18vh;
  background-color: var(--color-footer);
  margin-top: 20px;
}

a{
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1mm;
}

ul li{
  list-style: none;  
  font-size: 0.8rem;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-default);
  font-weight: var( --title-weight);
  color: var(--title-color);
  cursor: pointer;
  width: 100px;
  height: 30px;

  transition: var(--btn-transition);
}

.btn:hover{
  background-color: var(--btn-default-hover);
  color:var(--font-color);
}

.btn-primary{
  background-color: var(--btn-primary);
  width: 100px;
  height: 30px;
}

.btn-primary:hover{
  background-color: var(--btn-primary-hover);
  color:var(--font-color);
}


.btn-danger{
  background-color: var(--color-danger);
  width: 100px;
  height: 30px;
}

.situation{
  font-size: 0.8rem;
  font-weight: var(--subtitle-weight);
}

.opened{
  color: var(--color-success);
}

